In [1]:
# Import our dependencies

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
#import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
news_df = pd.read_csv("WELFake_Dataset.csv")
news_df.head()

,Unnamed: 0,title,text,label
0,0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1
1,1,NaN,Did they post their votes for Hillary already?,1
2,2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1
3,3,"Bobby Jindal, raised Hindu, uses story of Chri...",A dozen politically active pastors came here f...,0
4,4,SATAN 2: Russia unvelis an image of its terrif...,"The RS-28 Sarmat missile, dubbed Satan 2, will...",1

In [2]:
# Cleanin Null values
news_df.isnull().sum()

Unnamed: 0      0
title         558
text           39
label           0
dtype: int64

In [3]:
news_df.dropna(inplace=True)
news_df.isnull().sum()

Unnamed: 0    0
title         0
text          0
label         0
dtype: int64

In [4]:
# finding Datatypes
news_df.dtypes

Unnamed: 0     int64
title         object
text          object
label          int64
dtype: object

In [5]:
# convert the columns str
all_columns = list(news_df) # Creates list of all column headers
news_df[all_columns] = news_df[all_columns].astype(str)
news_df.dtypes

Unnamed: 0    object
title         object
text          object
label         object
dtype: object

In [6]:
# Convert the text lower case
for columns in news_df.columns:
    news_df[columns]=news_df[columns].str.lower()
news_df.head()

,Unnamed: 0,title,text,label
0,0,law enforcement on high alert following threat...,no comment is expected from barack obama membe...,1
2,2,unbelievable! obama’s attorney general says mo...,"now, most of the demonstrators gathered last ...",1
3,3,"bobby jindal, raised hindu, uses story of chri...",a dozen politically active pastors came here f...,0
4,4,satan 2: russia unvelis an image of its terrif...,"the rs-28 sarmat missile, dubbed satan 2, will...",1
5,5,about time! christian group sues amazon and sp...,all we can say on this one is it s about time ...,1

In [12]:
# Drop Unnecessary Columns
news_df=news_df.drop("Unnamed: 0", axis=1)

In [13]:
news_df

,title,text,label
0,law enforcement on high alert following threat...,no comment is expected from barack obama membe...,1
2,unbelievable! obama’s attorney general says mo...,"now, most of the demonstrators gathered last ...",1
3,"bobby jindal, raised hindu, uses story of chri...",a dozen politically active pastors came here f...,0
4,satan 2: russia unvelis an image of its terrif...,"the rs-28 sarmat missile, dubbed satan 2, will...",1
5,about time! christian group sues amazon and sp...,all we can say on this one is it s about time ...,1
...,...,...,...
72129,russians steal research on trump in hack of u....,washington (reuters) - hackers believed to be ...,0
72130,watch: giuliani demands that democrats apolog...,"you know, because in fantasyland republicans n...",1
72131,migrants refuse to leave train at refugee camp...,migrants refuse to leave train at refugee camp...,0
72132,trump tussle gives unpopular mexican leader mu...,mexico city (reuters) - donald trump’s combati...,0
72133,goldman sachs endorses hillary clinton for pre...,goldman sachs endorses hillary clinton for pre...,1